﻿@{
    ViewData["Title"] = "Chat";
}

<div id="divMessages" class="messages">
</div>
<div class="input-zone">
    <label id="lblMessage" for="tbMessage">Message:</label>
    <input id="tbMessage" class="input-zone-input" type="text" />
    <button id="btnSend">Send</button>
</div>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}